<%= form_for [@poll, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h3 class="text-danger">
        <%= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:" %>
      </h3>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :workout %>
    <%= f.select :workout_id, Workout.all.collect { |w| [ w.name, w.id ] }, class: "form-control input-lg" %>
  </p>
  <p>
    <label>Specify some choices:</label>
  </p>
  <%= f.fields_for :possible_answers do |c| %>
    <p>
      <%= c.text_field :title, placeholder: "Type your choice", class: "form-control" %>
    </p>
  <% end %>
  <p>
    <%= f.hidden_field :poll_id %>
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </p>
<% end %>