<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Poll:</b>
  <%= @question.poll %>
</p>
<p>
  <b>Title:</b>
  <%= @question.title %>
</p>
<p>
  <b>Type:</b>
  <%= @question.type %>
</p>
<%= link_to 'Edit', edit_poll_question_path(@poll, @question) %>
\|
<%= link_to 'Back', @poll %>