<h1>
  <%= print_muscle_group_name(c.object.question.workout)%>
</h1>
<label>
  <%= c.object.question.workout.name %>
</label>
<div class="radio">
  <% c.object.question.possible_answers.each_with_index do |possible_answer, index| %>
    <label class="radio-inline">
      <%= c.radio_button :possible_answer_id, possible_answer.id %>
      <%= get_value_for_answer_title(possible_answer.title) %>
      <%= c.hidden_field :question_id %>
    </label>
  <% end %>
</div>
