<h1>
  <%= @poll.title %>
</h1>
<%= form_for [ @poll, @reply ] do |f| %>
  <%= f.fields_for :answers do |c| %>
    <%= render "choice", c: c %>
  <% end %>
  <%= f.submit "Finish poll", class: "btn btn-primary" %>
<% end %>