<%= form_for @answer, :html => { :class => "form-horizontal answer" } do |f| %>

    <% if @answer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :coach_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :coach_id, :class => 'form-control' %>
    </div>
    <%= error_span(@answer[:coach_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :workout_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :workout_id, :class => 'form-control' %>
    </div>
    <%= error_span(@answer[:workout_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, :class => 'form-control' %>
    </div>
    <%= error_span(@answer[:value]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            answers_path, :class => 'btn btn-default' %>

<% end %>
