<%= form_for [@poll, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h3 class="text-danger">
        <%= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:" %>
      </h3>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control input-lg" %>
  </p>
  <p>
    <label>What kind of question?</label>
  </p>
  <div class="radio">
    <% @kind_options.each do |option| %>
      <label>
        <%= f.radio_button :kind, option[1] %>
        <%= option[0] %>
      </label>
    <% end %>
  </div>
  <p>
    <label>Escolha as opções:</label>
  </p>
  <%= f.fields_for :possible_answers do |c| %>
    <p>
      <%= c.text_field :title, placeholder: "Type your choice", class: "form-control" %>
    </p>
  <% end %>
  <p>
    <%= f.hidden_field :poll_id %>
    <%= f.submit t('helpers.links.save'), class: "btn btn-primary" %>
  </p>
<% end %>
