<%= form_for @poll do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h3 class="text-danger">
        <%= "#{pluralize(@poll.errors.count, "error")} prohibited this poll from being saved:" %>
      </h3>
      <ul>
        <% @poll.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
   
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control input-lg" %>
  </p>

  <%= f.fields_for :physical_profile do |pp|%>

    <div class="control-group">
      <%= pp.label :age, :class => "control-label" %>
      <div class="controls">
        <%= pp.number_field :age, :class => "form-control", :step => 1 %>
      </div>
      <%= error_span(@poll[:age]) %>
    </div>

    <div class="control-group">
      <%= pp.label :stature, :class => "control-label" %>
      <div class="controls">
        <%= pp.number_field :stature, :class => "form-control", :step => 0.01 %>
      </div>
      <%= error_span(@poll[:stature]) %>
    </div>

    <div class="control-group">
      <%= pp.label :weigth, :class => "control-label" %>
      <div class="controls">
        <%= pp.number_field :weight, :class => "form-control", :step => 0.01 %>
      </div>
      <%= error_span(@poll[:weight]) %>
    </div>

    <div class="control-group">
      <%= pp.label :sex, :class => "control-label" %>
      <div class="controls">
        <%= pp.select :sex, options_for_select(@sexes.keys, 0 ), {}, :class => "form-control" %>
      </div>
    </div>

    <div class="control-group">
      <%= pp.label :objective, :class => "control-label" %>
      <div class="controls">
        <%= pp.select :objective, options_for_select(@objectives.keys, 0 ), {}, :class => "form-control" %>
      </div>
    </div>

    <div class="control-group">
      <%= pp.label "Problemas de saúde", :class => "control-label" %>
      <div class="controls">
        <label class="checkbox-inline"> <%= pp.check_box :smoker %> É fumante?</label>
      </div>
      <div class="controls">
        <label class="checkbox-inline"> <%= pp.check_box :has_cardiac_problem %> Tem problema cardiaco?</label>
      </div>  
      <div class="controls">  
        <label class="checkbox-inline"> <%= pp.check_box :has_respiratory_problem %> Tem problema respiratório?</label>
      </div>  
      <div class="controls">  
        <label class="checkbox-inline"> <%= pp.check_box :cardiac_diseases_in_family %> Tem histórico de doenças cardíacas na família?</label>
      </div>
    </div>

  <div class="control-group">
    <%= pp.label :how_often_pratice_exercises, :class => "control-label" %>
    <div class="controls">
      <%= pp.select :how_often_pratice_exercises, options_for_select(@exercise_frequencies.keys, 0 ), {}, :class => "form-control" %>
    </div>
  </div>

  <div class="control-group">
    <%= pp.label :how_long_is_on_gym, :class => "control-label" %>
    <div class="controls">
      <%= pp.number_field :how_long_is_on_gym, :class => "form-control", :step => 1 %>
    </div>
    <%= error_span(@poll[:how_long_is_on_gym]) %>
  </div>

  <% end %>
 
  <br/>
  <%= f.submit t('helpers.links.save'), class: "btn btn-primary" %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            polls_path, :class => 'btn btn-default' %>
  
<% end %>