<%= form_for @coach, :html => { :class => "form-horizontal coach" } do |f| %>

    <% if @coach.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @coach.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :user do |u| %>
    <div class="control-group">
      <%= u.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= u.text_field :email, :class => 'form-control' %>
      </div>
      <%= error_span(@coach[:user_id]) %>
    </div>

    <div class="control-group">
      <%= u.label :password, "Senha", :class => 'control-label' %>
      <div class="controls">
        <%= u.password_field :password, :class => 'form-control' %>
      </div>
      <%= error_span(@coach[:user_id]) %>
    </div>

    <%= u.hidden_field :kind %>

  <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@coach[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :cref, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cref, :class => 'form-control' %>
      </div>
      <%= error_span(@coach[:cref]) %>
    </div>
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'form-control' %>
      </div>
      <%= error_span(@coach[:phone]) %>
    </div>

  <br />
  
  <%= f.submit t('helpers.links.save'), :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            coaches_path, :class => 'btn btn-default' %>

<% end %>
